#apresentation-section {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 600px;
  gap: 15px;
}

.apresentation-details {
  color: #fff;
}

.apresentation-details h2 {
  font-size: 42px;
}

.apresentation-details p {
  font-size: 14px;
  max-width: 500px;
}

.apresentation-img {
  border: 2px dashed #fff;
  padding: 10px;
}

.apresentation-img img {
  width: 300px;
  transition: 0.4s;
}

.apresentation-img img:hover {
  width: 320px;
}

.apresentation-btn-space {
  margin-top: 30px;
}

.apresentation-btn {
  padding: 5px 10px;
  border: 2px dashed #fff;
  transition: 0.4s;
}

.apresentation-btn:hover {
  padding: 7px 12px;
  font-size: 18px;
}

.projects-list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-me-content {
  color: #fff;
}

.about-me-details-my-skills {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.about-me-content {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about-me-animation-img img {
  width: 420px;
  transition: 0.4s;
}

.about-me-animation-img:hover img {
  width: 450px;
}

.about-me-details-my-skills .my-skills-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 325px;
  flex-wrap: wrap;
}

.about-me-details-my-skills .my-skills-list li {
  border-bottom: 2px dashed #fff;
  padding-bottom: 3px;
  transition: 0.4s;
}

.about-me-animation-img:hover .my-skills-list li {
  font-size: 18px;
}

.about-me-details p {
  margin-bottom: 15px;
  max-width: 480px;
}

.about-me-details p li {
  font-weight: bold;
  margin-top: 2px;
}
