.project-card {
  display: flex;
  position: relative;
  color: #fff;
}

.project-card-img {
  position: relative;
  left: 0;
  transition: left 0.4s ease-in-out;
}

.project-card-img p {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 4px 8px;
  background-color: #000000ca;
  border-radius: 20px;
  opacity: 0;
  transition: 0.4s;
}

.project-card-img img {
  width: 550px;
  border-radius: 8px;
  display: block;
}

.project-card-details {
  padding: 20px;
}

.project-card-details h3,
.project-card-details-links,
.project-card-details-skills {
  position: absolute;
  transition: right 0.3s ease-in-out;
  right: 0;
}

.project-card-details h3 {
  top: 0;
  font-size: 22px;
}

.project-card-details-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  top: 180px;
  justify-content: start;
}

.project-card-details-skills p {
  padding: 4px 8px;
  border: 2px dashed #fff;
  border-radius: 20px;
}

.project-card-details-links {
  bottom: 10px;
  display: flex;
  gap: 10px;
}

.project-card-details-links a img {
  width: 32px;
  height: 32px;
}

.project-card-img::after {
  content: "";
  transition: 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 41, 41, 0.5);
  opacity: 1;
}

.project-card-details-description {
  position: absolute;
  top: 40px;
  right: 0px;
  background: rgb(24, 24, 24);
  padding: 6px 13px;
  font-size: 14px;
  border-radius: 8px;
  transition: right 0.3s ease-in-out;
  white-space: normal;
  max-width: 450px;
  word-wrap: break-word;
}

.project-card:hover .project-card-details-description {
  right: 10px;
}

.project-card:hover .project-card-img::after {
  opacity: 0;
}

.project-card:hover .project-card-details h3,
.project-card:hover .project-card-details-links,
.project-card:hover .project-card-details-skills {
  right: 10px;
}

.project-card:hover .project-card-img {
  left: 10px;
}

.project-card:hover .project-card-img p {
  opacity: 1;
}

@media (max-width: 976px) {
  .project-card {
    background: linear-gradient(
      to bottom right,
      rgba(26, 25, 25, 0.5),
      rgba(126, 124, 124, 0.39)
    );
    align-items: center;
    max-width: 600px;
    position: static;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
  }

  .project-card-img p {
    opacity: 1;
  }

  .project-card-img img {
    width: 100%;
  }

  .project-card-details {
    padding: 10px;
  }

  .project-card-img::after {
    display: none;
  }

  .project-card-details {
    text-align: center;
  }

  .project-card-details-skills,
  .project-card-details-links {
    justify-content: center;
  }

  .project-card-details-skills {
    margin-top: 7px;
  }
  .project-card-details-links {
    margin-top: 12px;
  }

  .project-card-details-description {
    background-color: transparent;
  }

  .project-card-details h3,
  .project-card-details-links,
  .project-card-details-skills,
  .project-card-details-description {
    position: static;
  }

  .project-card:hover .project-card-details h3,
  .project-card:hover .project-card-details-links,
  .project-card:hover .project-card-details-skills {
    right: 0;
  }

  .project-card:hover .project-card-img {
    left: 0;
  }
}

@media (max-width: 460px) {
  .project-card {
    padding: 15px 15px 5px 15px;
  }

  .project-card-details-skills p {
    border: 1px dashed #fff;
    font-size: 14px;
  }

  .project-card-details h3 {
    font-size: 18px;
  }

  .project-card-details-links a img {
    width: 28px;
    height: 28px;
  }
}
