.project-card {
  display: flex;
  position: relative;
}

.project-card-img {
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.project-card-img img {
  width: 550px;
  border-radius: 8px;
  display: block;
}

.project-card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
}

.project-card-details h3 {
  position: absolute;
  transition: right 0.3s ease-in-out;
  right: 0;
}

.project-card-details-links {
  position: absolute;
  transition: right 0.3s ease-in-out;
  right: 0;
  bottom: 10px;
  display: flex;
  gap: 10px;
}

.project-card-details-links a img {
  width: 28px;
  height: 28px;
}

.project-card-details-description {
  position: absolute;
  top: 50%; /* Move para o meio da imagem */
  right: 0px; /* Começa fora da imagem, à direita */
  transform: translateY(-50%); /* Ajusta para alinhar ao centro */
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 8px;
  transition: right 0.3s ease-in-out;
  white-space: normal; /* Permite quebra de linha */
  max-width: 450px; /* Limita a largura da descrição */
  word-wrap: break-word; /* Quebra palavras grandes */
}

.project-card:hover .project-card-details-description {
  right: 10px;
}

.project-card:hover .project-card-details h3 {
  right: 10px;
}

.project-card:hover .project-card-details-links {
  right: 10px;
}

.project-card:hover .project-card-img {
  left: 10px;
}
