#section-about-me {
  padding: 20px;
}

.about-me-descriptions {
  display: flex;
  gap: 10px;
  max-width: 1120px;
  margin: 0 auto;
  height: 420px;
  width: 100%;
}

.about-me-descriptions-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.about-me-descriptions-content {
  padding: 10px 15px;
  border: 2px solid var(--esg-color-tertiary);
  overflow-x: hidden;
  border-radius: 10px;
}

.about-me-descriptions-content h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 26px;
}

.about-me-descriptions-content p {
  color: var(--esg-color-tertiary);
  margin-bottom: 5px;
  font-size: 18px;
}

.about-me-descriptions-img img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid var(--esg-color-tertiary);
}

.about-me-descriptions-skills {
  display: flex;
  gap: 10px;
}

.about-me-descriptions-skills img {
  border: none;
  height: 48px;
  width: 48px;
}

@media (max-width: 820px) {
  .about-me-descriptions {
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 370px) {
  .about-me-descriptions-img img {
    height: 250px;
    width: 90%;
  }

  .about-me-descriptions-skills img {
    border: none;
    height: 38px;
  }
}
