header {
  padding: 10px 20px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list-contacts {
  display: flex;
  gap: 7px;
}

.header-title h2 {
  font-size: 22px;
}

.option-contact-item a img {
  height: 40px;
  width: 40px;
}

@media (max-width: 576px) {
  header nav {
    flex-direction: column;
    gap: 15px;
  }
}
