@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

:root {
  --esg-color-background: linear-gradient(
    360deg,
    var(--esg-color-primary) 0%,
    var(--esg-color-secondary) 100%
  );
  --esg-color-primary: #232323;
  --esg-color-secondary: #629485;
  --esg-color-tertiary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Parkinsans", sans-serif;
}

html,
body {
  background: var(--esg-color-background);
  min-height: 100vh;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

::-webkit-scrollbar-thumb {
  background-color: var(--esg-color-primary);
  border-radius: 10px;
  border: 2px solid var(--esg-color-secondary);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--esg-color-primary);
}

@media (max-width: 960px) {
  ::-webkit-scrollbar {
    width: 11px;
  }
}
