.top-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-title h3 {
  text-align: center;
  color: #fff;
  white-space: nowrap;
}

.top-title .row-left,
.top-title .row-right {
  border: 2px solid #fff;
  height: 0px;
  width: 100%;
}
